* {
  background-color: #282c34;
}

.App {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -3%;
  text-align: center;
}

.bottom {
  margin-bottom: 0%;
}

.App-link {
  color: #61dafb;
}

